<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amnezia</title>
</head>
<body>
    <h1>AMNEZIA</h1>
    Создаем свой сервер с VPN
    <br>
    Покупаем <a href="https://firstvds.ru/">VPS</a> сервер в нидерландах
    <br>
    Устанавливаем приложение <a href="https://amnezia.org/ru/downloads">Amnezia VPN</a> (P.S. Чтобы перейти по этой
    ссылке нужен VPN :D)
    <br>
    Далее следуем <a href="https://amnezia.org/ru/starter-guide">инструкции</a> Amnezia VPN, устанавливаем амнезию на
    сервер.
    <br>
    Радуемся, смотрим ютубчик, делимся ВПНом с друзьями.
    <br>
    <a href="http://127.0.0.1:8000/task3/">
        <button>Вернуться обратно</button>
    </a>
</body>
</html>